header#header.l-header.p-header
  h1#site-title.l-header__site-title h1_site_title
  nav.l-header__nav.p-header__nav
    ul.l-header__nav-list
      each val in ['Top', 'Feature', 'About Us', 'Contact']
        li.l-header__nav-item.p-header__nav-item= val